# ==============================
# Testing
# ==============================
pytest==7.4.3
pytest-cov==4.1.0

# ==============================
# Data Visualization / Debugging
# ==============================
matplotlib==3.8.2
seaborn==0.13.0

# ==============================
# Development Tools
# ==============================
jupyter==1.0.0
ipykernel==6.27.1
